<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MoneyManager2020.Properties.Settings.MoneyManagerConnectionString"
            connectionString="Data Source=DESKTOP-O1NT2UF;Initial Catalog=MoneyManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>